body {
  font-family: "Source Sans Pro", sans-serif;
}
h1 {
  font-size: 60px;
  font-weight: bold;
  color: #383e56;
  padding-top: 20px;
}
h2 {
  color: #aaaaaa;
  font-size: 30px;
  padding-bottom: 20px;
}
h3 {
  color: #383e56;
  font-size: 15px;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.weather-app-wrapper {
  max-width: 800px;
  margin: 30px auto;
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
}
.weather-app {
  padding: 30px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
.weather-forecast {
  text-align: center;
  padding-top: 20px;
}
.weather-forecast-temperature {
  color: #aaaaaa;
  font-size: 12px;
}
#icon {
  margin-right: 5px;
  width: 100px;
  height: 100px;
}
#temperature {
  font-size: 70px;
  color: #383e56;
  text-align: center;
}
.units {
  text-align: center;
  font-size: 30px;
  color: #383e56;
}
.min-max-temperature {
  font-size: 15px;
  color: #aaaaaa;
  text-align: center;
}
.specifications {
  text-align: right;
  color: #383e56;
}
